*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 100%;
  color: black;
}

body {
  padding-top: 207px;
}

h1,
h2,
h3,
h4,
h5
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.h1 {
  font-size: 42px;
  line-height: 2;
  letter-spacing: 3px;
  font-weight: 300;
}

.h2 {
  font-size: 24px;
  line-height: 1.8;
}

.h3 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 15px;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px transparent solid;
  transition: border-bottom-color 125ms ease, color 125ms ease;

  &.nodecor {
    border-bottom: none;
  }
}

a:hover {
  border-bottom-color: black;
}

hr {
  max-width: 50px;
  border-color: $orange;
  border-style: solid;
  border-width: 2px;
}

p {
  margin-top: 0;
  margin-bottom: 14px;
}
