.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  border: 1px solid black;
  padding: 8px 15px;
  cursor: pointer;

  &:focus {
    outline: 1px dotted black;
  }
}

.btn--gray {
  background: #CCC;
}

.btn--gray:hover {
  background: black;
  color: white;
}

.btn--next,
.btn--prev {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #b4b3b4;
  position: absolute;
  top: 38%;
  transition: color 125ms ease;

  &:hover {
    color: $orange;
  }
}

.btn--next {
  right: -85px;
}

.btn--prev {
  left: -85px;
}

.btn--black {
  background-color: black;
  color: white;
  border: none;
  outline: none;

  transition: color 125ms ease, background-color 125ms ease;

  &:hover {
    background-color: white;
    color: black;
  }
}
