.input {
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  padding: 12px;
  padding-left: 40px;
  color: black;
  transition: background-color 125ms ease;
}

.searchform {
  position: relative;
}

.searchform i.fa-search {
  position: absolute;
  left: 12px;
  color: white;
  font-size: 18px;
  height: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.searchform > .btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 0;
  transition: opacity 125ms ease;
}

.searchform > .input:focus {
  background-color: white;
}

.searchform > .input:focus ~ .btn {
  opacity: 1;
}

.searchform > .input:focus ~ .fa-search {
  color: #CCC;
}

.contact-form {
  text-align: center;
  font-size: 36px;
  color: #636464;
  font-weight: 300;

  [name=boogabooga] { display: none; }

  .input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #111;
    padding: 2px;
    text-align: center;
    color: $orange;

    &:focus {
      outline: 1px dotted #222;
    }
  }

  .errors {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
  }
}

.newsletter-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  .input {
    color: white;
    padding: 10px;
    width: 100%;
    max-width: 230px;
  } 

  .input,
  .btn {
    height: 40px;
  }
}

.form-row {
  margin-bottom: 25px;
}

.label-inline {
  display: block;
}
