.text--aligncenter {
  text-align: center;
}

.text--upper {
  text-transform: uppercase;
}

.headline {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-bottom: 35px;

  &:after {
    content: '';
    display: block;
    width: 45px;
    height: 4px;
    background-color: $orange;
    margin: 0 auto;
    margin-top: 15px;
  }
}
