.text {
  letter-spacing: 1px;
}

.text-tease {
  color: white;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 24px;
  font-size: 16px;
  text-align: center;

  > p {
    margin: 0;
  }
}

.text--small {
  font-size: 12px;
}

.text--medium {
  font-size: 16px;
}

.text--white {
  color: white;
}

.text--gray {
  color: #636464;

  a:hover {
    color: $orange;
  }
}

.text--red {
  color: red;
}

.text--normalcase {
  text-transform: capitalize;
}

.text--aligncenter {
  text-align: center;
}

.text--upper {
  text-transform: uppercase;
}

.headline {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-bottom: 35px;

  &:after {
    content: '';
    display: block;
    width: 45px;
    height: 4px;
    background-color: $orange;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.headline--alt {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;

  &:after {
    background-color: black;
  }
}

.headline--large {
  font-size: 28px;
}

.headline--left {
  text-align: left;
  
  &:after {
    margin-left: 0;
  }
}

.separator {
  display: inline-block;
  margin: 0 15px;
}

.text--padright {
  padding-right: 60px;
}

.quotebox {
  background-color: $orange;
  padding: 35px;
  margin-bottom: 35px;
  position: relative;
  color: white;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1px;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 35px;
    border-right-color: $orange;
    position: absolute;
    right: 0;
    bottom: -35px;
  }
}

.quotebox-body {
  position: relative;

  &:after,
  &:before {
    font-family: serif;
    font-size: 68px;
    position: absolute;
    line-height: 0;
    color: rgba(0,0,0,0.25);
  }

  &:after {
    content: '\201D';
    bottom: -5px;
    right: -5px;
  }

  &:before {
    content: '\201C';
    top: 18px;
    left: -22px;
  }
}
