.thumbnail {
  margin-bottom: 18px;
}

.thumbnail > a {
  border: none;
  position: relative;
  display: block;

  &:focus {
    outline: 1px dotted black;
  }
}

.thumbnail-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #EE3928;
  max-width: 292px;
  padding: 13px;
  transition: background-color 125ms ease;
}

.thumbnail > a:hover > .thumbnail-caption {
  background-color: black;
  transition: background-color 125ms ease;
}

.thumbnail-title {
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: left;
  position: relative;
  padding-right: 15px;

  &:after {
    content: '';
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: white;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    margin: auto;
    border: 5px solid transparent;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-color: $orange;
    z-index: 10;
  }
}
