{% extends '_layout' %}

{% block content %}
	<article>
	  <div class="l-bgimg l-bgimg--medium l-flexcenter l-push">
      <div class="text--aligncenter text--white text--upper">
        <h1 class="h1">{{ entry.title }}</h1>
        {% if message is defined and message.getErrors() %}
        <div class="l-constrained">
          <div class="text text--medium text--normalcase">
            Please correct the errors below.
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div id="content">
      <section class="l-padded">
        <div class="l-constrained">
          <h2 class="headline headline--large">We'd Love to Hear From You.</h2>
          <div class="text text--aligncenter text--gray">
            {{ entry.body }}
          </div>
        </div>
      </section>

      <section class="l-padded l-highlight--alt">
        <div class="l-constrained">
          <h3 class="headline">Would you like to share your story?</h3>
          <div class="text text--aligncenter text--gray">
            {{entry.contactTease}}
          </div>
        </div>

        <form id="contactForm" class="contact-form" method="post" action="https://hooks.zapier.com/hooks/catch/43570/urj5c8/" accept-charset="UTF-8">

          <input type="text" name="boogabooga" id="boogabooga">

          <div class="l-push">
            <div class="form-row">
              <label class="label-inline">Hello, my name is <input class="input" type="text" name="fromName"></label>
              <div class="form-error"></div>
            </div>

            <div class="form-row">
              <label class="label-inline">I'd like to share my story about helping my <input class="input" type="text" name="relationship"></label>
              <div class="form-error"></div>
            </div>

            <div class="form-row">
              <label class="label-inline">with <input class="input" type="text" name="disease">.</label>
              <div class="form-error"></div>
            </div>

            <div class="form-row">
              <label class="label-inline">You can reach me via email at <input class="input" type="text" name="fromEmail">.</label>
              <div class="form-error"></div>
            </div>
          </div>

          <div class="text text--medium">
            <button class="btn btn--black" type="submit">Submit</button>
          </div>
        </form>

      </section>

    </div>
	</article>

{% endblock %}
