{% extends "_detail" %}

{% set mainImage = entry.caregiverThumbnail.first() %}
{% set disease = entry.diseaseTag.first() %}
{% set relationship = entry.relationshipTag.first() %}
{% set caregiver = entry %}
{% set videosFromCaregiver = craft.entries.section('videos').relatedTo(entry).with('videoThumbnail') %}
{% set videosFromDisease = craft.entries.section('videos').relatedTo(disease).with('videoThumbnail') %}
{% set videosFromRelationship = craft.entries.section('videos').relatedTo(relationship).with('videoThumbnail') %}
