{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_grid" %}
{% set title = "Caregivers" %}

{% set entries = craft.entries.section('caregivers').with('caregiverThumbnail', 'diseaseTag', 'insightTag', 'relationshipTag') %}

{% block thumbnail %}
  {% set thumbnail = entry.caregiverThumbnail[0] ?? null %}

  {% include '_thumbnail' %}
{% endblock %}
