{% extends "_layout" %}
{% set allTags = craft.tags.relatedTo(entries) %}

{% block content %}
  <h1>{{title}}</h1>

  <button class="filter" data-filter="all">Show All</button>
  <h2>dieases</h2>
  <ul>
  {% for tag in allTags.group('diseases') %}
    <li><button class="filter" data-filter=".{{ tag | kebab }}">{{tag}}</button></li>
  {% endfor %}
  </ul>
  <h2>insights</h2>
  <ul>
  {% for tag in allTags.group('insights') %}
    <li><button class="filter" data-filter=".{{ tag | kebab }}">{{tag}}</button></li>
  {% endfor %}
  </ul>
  <h2>relationships</h2>
  <ul>
  {% for tag in allTags.group('relationships') %}
    <li><button class="filter" data-filter=".{{ tag | kebab }}">{{tag}}</button></li>
  {% endfor %}
  </ul>

  <div class="l-constrained">
    <div id="grid" class="grid">
    {% for entry in entries %}
      {% set tags = [] %}
      {% set tags = tags|merge(entry.diseaseTag) %}
      {% set tags = tags|merge(entry.insightTag) %}
      {% set tags = tags|merge(entry.relationshipTag) %}

      <div class="grid-item{% for tag in tags %} {{ tag | kebab }}{% endfor %}">
        {% block thumbnail %}{% endblock %}
      </div>

    {% endfor %}

    <div class="gap"></div>
    </div>
  </div>

{% endblock %}
