<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/dist/vendor.min.css">
  <link rel="stylesheet" href="/dist/caregiver.css">

</head>

{% if entry is defined %}
<body class="l-entry">
{% else %}
<body>
{% endif %}
  <header class="siteheader" id="header">

    <div class="l-constrained">
      <div class="siteheader-split">

        <h1 class="logo">
          <a href="{{ siteUrl }}">
            <span class="logo-1">The</span>
            <span class="logo-2">Relucant</span>
            <span class="logo-3">Caregiver</span>
          </a>
        </h1>

        <div class="siteheader-right">
          <nav class="siteheader-nav">
            <ul>
              <li>
                <a href="/caregivers">Meet the Caregivers</a>
              </li>
              <li>
                <a href="/stories">Watch the Stories</a>
              </li>
            </ul>
          </nav>

          <form class="searchform" action="{{ url('search/results') }}">
            <input class="input" type="Search" placeholder="Search" name="q" />
            <i class="fa fa-search" aria-hidden="true"></i>
            <button type="submit" class="btn btn--gray">GO</button>
          </form>
          
        </div>

      </div>
    </div>
  </header>

  {% if entry is not defined %}
  <main id="content" role="main" class="l-constrained">
  {% else %}
  <main role="main">
  {% endif %}
    {% block content %}{% endblock %}
  </main>

  <footer id="footer" class="footer"></footer>

  <script src="/dist/vendor.min.js"></script>
  <script src="/dist/scripts.min.js"></script>
</body>
</html>
