<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/dist/vendor.min.css">
  <link rel="stylesheet" href="/dist/caregiver.css">

</head>

{% if entry is defined %}
<body class="l-entry">
{% else %}
<body>
{% endif %}
  <header class="siteheader" id="header">

    <div class="l-constrained">
      <div class="siteheader-split">

        <h1 class="logo">
          <a href="{{ siteUrl }}">
            <span class="logo-1">The</span>
            <span class="logo-2">Reluctant</span>
            <span class="logo-3">Caregiver</span>
          </a>
        </h1>

        <div class="siteheader-right">
          <nav class="siteheader-nav">
            <ul>
              <li>
                <a href="/caregivers">Meet the Caregivers</a>
              </li>
              <li>
                <a href="/stories">Watch the Stories</a>
              </li>
            </ul>
          </nav>

          <form class="searchform" action="{{ url('search/results') }}">
            <input class="input" type="Search" placeholder="Search" name="q" />
            <i class="fa fa-search" aria-hidden="true"></i>
            <button type="submit" class="btn btn--gray">GO</button>
          </form>
          
        </div>

      </div>
    </div>
  </header>

  {% if entry is not defined %}
  <main id="content" role="main" class="l-constrained">
  {% else %}
  <main role="main">
  {% endif %}
    {% block content %}{% endblock %}
  </main>

  <footer id="footer" class="footer">
    <div class="l-bgimg l-bgimg--short l-flexcenter">
      <div class="l-flexcenter-body">
        <h1 class="headline headline--alt">Sign up for notifications</h1>
        <form class="newsletter-form" action="//thereluctantcaregiver.us13.list-manage.com/subscribe/post?u=1e67f9b63eaeeb1a88d19e99a&amp;id=b603849622" method="post">
          <input class="input" type="email" value="" name="EMAIL" placeholder="Email Address">
          <button type="submit" class="btn btn--black">Sign Up</button>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1e67f9b63eaeeb1a88d19e99a_b603849622" tabindex="-1" value=""></div>
        </form>
      </div>
    </div>
    <div class="l-padded l-padded--black">
      <div class="l-constrained">
        <div class="l-splitflex">
          <div class="text--white">
            <nav>
              <ul class="list list--inline">
                <li><a href="{{ url('about') }}">About</a></li>
                <li><a href="{{ url('contact') }}">Contact Us</a></li>
                <li><a href="{{ url('terms') }}">Terms &amp; Conditions</a></li>
                <li><a href="{{ url('privacy') }}">Privacy Policy</a></li>
                <ul class="list list--inline list--inline--tight">
                  <li><a href="{{ url('about') }}"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="{{ url('contact') }}"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="{{ url('terms') }}"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="{{ url('privacy') }}"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </ul>
            </nav>
          </div>

          <span class="text--white text--small">&copy;{{now|date('Y')}} The Reluctant Caregiver</span>
        </div>
      </div>
    </div>
  </footer>

  <script src="/dist/vendor.min.js"></script>
  <script src="/dist/scripts.min.js"></script>
</body>
</html>
