{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set videosFromCaregiver = craft.entries.section('caregivers').with('caregiverThumbnail') %}
{% set videos = craft.entries.section('videos').with('videoThumbnail', 'diseaseTag', 'insightTag', 'relationshipTag') %}

{% set videosFromDisease = videos.relatedTo(craft.tags.group('diseases')) %}
{% set videosFromRelationsip = videos.relatedTo(craft.tags.group('relationships')) %}
{% set videosFromInsight = videos.relatedTo(craft.tags.group('insights')) %}

{% block content %}
  <div class="l-bgimg">
    <div class="l-flexcenter">
      {{ entry.headline }}
    </div>
  </div>
  <div class="l-highlight">
    <div class="l-narrow">
      {{ entry.tease }}
    </div>
  </div>
  <div id="content">
    <section class="l-padded">
      <div class="l-wider">
        <h2 class="headline">Caregivers</h2>
        <div class="slider">
        {% for entry in videosFromCaregiver %}      
          {% set thumbnail = entry.caregiverThumbnail[0] ?? null %}
          {% include '_thumbnail' %}
        {% endfor %}
        </div>
      </div>
    </section>

    <section class="l-padded l-highlight--alt">
      <div class="l-wider">
        <h2 class="headline">Conditions</h2>
        <div class="slider">
        {% for entry in videosFromDisease %}      
          {% set thumbnail = entry.videoThumbnail[0] ?? null %}
          {% set entry = {url : entry.url, title: entry.diseaseTag[0]|ucwords} %}
          {% include '_thumbnail' %}
        {% endfor %}
        </div>
      </div>
    </section>

    <section class="l-padded">
      <div class="l-wider">
        <h2 class="headline">Relationships</h2>
        <div class="slider">
        {% for entry in videosFromRelationsip %}      
          {% set thumbnail = entry.videoThumbnail[0] ?? null %}
          {% set entry = {url : entry.url, title: entry.relationshipTag[0]|ucwords} %}
          {% include '_thumbnail' %}
        {% endfor %}
        </div>
      </div>
    </section>

    <section class="l-padded l-highlight--alt">
      <div class="l-wider">
        <h2 class="headline">Insights</h2>
        <div class="slider">
        {% for entry in videosFromInsight %}      
          {% set thumbnail = entry.videoThumbnail[0] ?? null %}
          {% set entry = {url : entry.url, title: entry.insightTag[0]|ucwords} %}
          {% include '_thumbnail' %}
        {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
